/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }
  
  .container {
    width: 80%;
    margin: auto;
  }
  
  header {
    background-color: #ff4d4d;
    padding: 20px 0;
  }
  
  header h1 {
    color: #fff;
    font-size: 2.5rem;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  main .hero {
    background-image: url('library.jpg');
    background-size: cover;
    background-position: center;
    color: #954242;
    padding: 100px 0;
    text-align: center;
  }
  
  footer {
    background-color: #ff4d4d;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  